/target/

.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.m2e.wtp.prefs
.settings/org.eclipse.wst.ws.service.policy.prefs

